
body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.user-avatar{
    width: 40px;
    height: 40px;
}

.wechat{
    width: 70%;
}


/*
* index
*/

.main .row .media .tag-round{
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}



/*
* publish
*/

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.publish-tag-tab{
    display: none;
    margin-top: 10px;
}

.tag-top{
    margin-top: 10px;
}

.tag-style{
    font-size: 13px;
    margin: 5px 5px;
    white-space: normal;
    display: inline-block;
}




/*
* question
*/

.main .row .question-title{
    margin-top: 25px;
}

.main .row .question-tags{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    height: 20px;
    line-height: 20px;
    background-color: #f2f2f2;
    font-size: 12px;
    color: #999;
}

.main .row .question-information{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.main .row .media-body .comment-content-margin{
    margin: 5px 0;
}

.main .row .media-body .comment-menu{
    font-size: 15px;
    color: #999;
}

.main .row .media-body .comment-menu .like-count{
    margin-right: 6px;
    cursor: pointer;
}

.main .row .media-body .comment-menu .like-count:hover{
    color: #499ef3;
}

.main .row .media-body .comment-comment{
    border-radius: 5px;
    margin-top: 12px;
    border: 1px solid #eee;
    padding-top: 11px;
}

.main .row .media-body .comment-comment .sub-comment-btn{
    margin: 10px 0;
}

.main .row .btn-comment{
    float: right;
    margin-bottom: 25px;
}

.meta{
    min-height: 20px;
    line-height: 20px;
    font-size: 12px;
}

.title-style{
    position: absolute;
    margin: 0;
    font-size: 20px;
}

.comment-right{
    margin-right: 15px;
}

.comment-count-style{
    position: relative;
    top: 22px;
    font-size: 14px;
}
.comment-count-style .active{
    color: orange;
}

.comment-body{
    padding-top: 6px;
}

.comment-menu .active{
    color: #499ef3;
}

.comment-title{
    position: relative;
    border-color: #e6e6e6;
    bottom: 17px;
}

.comment{
    margin: 10px 0;
}

.question-tag-size{
    font-size: 13px;
}


.main .row .tag-question-title{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    height: 125%;
    line-height: 125%;
    background-color: #f2f2f2;
    color: #999;
}

.input-top{
    margin-top: 5px;
}


/*
* profile
*/

.profile .section{
    margin-top: 15px;
}

.profile-media-body-style{
    margin-right: 12px;
    font-size: 10px;
}

.media .media-body{
    padding-top: 0;
}

.media .media-body .myquestion-information{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.media .media-body .media-heading .notification-right{
    padding-right: 5px;
}

.media .media-body .media-heading .notification-status{
    font-size: 1px;
}



/*
* error
*/

.jumbotron{
    margin: 15px;
}



/*
* footer
*/

.footer{
    padding: 10px 25%;
    color: #666;
}


/*
* message
*/

.user-message-avatar{
    width: 80px;
    height: 80px;
}

.message-information{
    font-size: 13px;
    font-weight: normal;
    color: #999;
}

.message-media{
    padding: 12px;
}

.message-media .message-body{
    padding: 15px;
}

.message-tag-padding{
    padding: 0 22px 12px 22px
}

.message-tag-round{
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}

.message-tag-small{
    padding: 0 12px 12px 0;
}

.message-tag-padding-top{
    padding-top: 12px;
}

.message-tag-style{
    font-size: 13px;
    padding: .2em .6em .3em;
    border-radius: .25em;
}

.message-tag-big{
    font-size: 15px;
    white-space: normal;
    display: inline-block;
    margin: 10px 15px;
}

.message-tag-color{
    color: dimgrey;
    padding-left: 5px;
    font-size: 13px;
}

.tag-name-color{
    color: white;
}

