<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="media message-media">
                <div class="media-left">
                    <img class="user-message-avatar img-circle" th:src="${userMessage.avatarUrl}">
                </div>
                <div class="message-body media-body">
                    <h5 th:text="${userMessage.name}"></h5>
                    <span class="message-information">
                        提问总数：<span th:text="${questionCount}"></span>
                    </span>
                </div>
            </div>
            <hr>
            <div class="message-tag-padding">
                感兴趣话题
                <div class="message-tag-padding-top">
                    <div role="tabpanel" class="tab-pane tag-top">
                        <span class="label message-tag-big" th:each="userTag : ${messageTagDTOS}">
                            <span class="label-info message-tag-style">
                                <a th:href="'/tag/'+${userTag.name}" class="glyphicon glyphicon-tags tag-name-color" th:text="' '+${userTag.name}"></a>
                            </span>
                            <span class="message-tag-color" th:text="'提问次数：'+${userTag.priority}"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>