<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <link rel="stylesheet" href="/css/editormd.min.css"/>
    <link rel="stylesheet" href="/css/editormd.preview.min.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js" type="application/javascript"></script>
    <script src="/js/lib/prettify.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <!--  当点击问题时传递id时显示  -->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--       问题作者及相关信息     -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="question-title"><span th:text="${question.title}"></span></h4>
                <a class="question-tags" th:href="@{'/tag/'+${question.tag}}" th:text="${question.tag}"></a>
                <span class="question-information">
                  |  作者：<a th:href="'/message/'+${question.creator}" th:text="${question.creatorName}"></a>
                  |  阅读次数：<span th:text="${question.viewCount}"></span>
                  |  发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                </span>
                <hr>
                <!--    问题内容    -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea style="display:none;" th:text="${question.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("question-view", {});
                    });
                </script>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
                <span class="label label-info comment-right tag-size" th:each="tag : ${question.tag.split('，')}">
                    <a th:href="@{'/tag/'+${tag}}">
                        <span class="label label-info"><span class="glyphicon glyphicon-tags" th:text="' '+${tag}"></span></span>
                    </a>
                </span>
                <hr>
                <span class="meta comment-count-style">
                    <a th:href="'/publish/'+${question.id}" class="community-menu comment-right" th:if="${state} == 'mine'">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        编辑
                    </a>
                    <a class="btn community-menu comment-right" th:id="${question.id}" th:if="${state} == 'mine'" onclick="deleteQuestion(this)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        删除
                    </a>
                </span>
                <div class="comment-title">
                    <h4 class="title-style">
                        <span th:text="${question.commentCount}"></span>个回复
                    </h4>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--      问题回复内容      -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div th:each="questionComment : ${question.questionCommentList}">
                    <div class="media-left">
                        <img class="user-avatar img-rounded" th:src="${questionComment.creatorAvatarUrl}">
                    </div>
                    <div class="media-body" th:id="${'comment-body-'+questionComment.id}">
                        <a th:href="'/message/'+${questionComment.commentator}" th:text="${questionComment.creatorName}"></a>
                        <div class="comment-content-margin" th:id="'comment-view-'+${questionComment.id}">
                            <textarea style="display:none;" th:data-id="${'comment-content-' + questionComment.id}" th:id="${'comment-content' + questionComment.id}" th:text="${questionComment.content}"></textarea>
                        </div>
                        <input type="hidden" id="commentContent" th:value="${questionComment.id}">
                        <script type="text/javascript">
                            $(function() {
                                var id = $("#commentContent").val();
                                editormd.markdownToHTML("comment-view-"+id, {});
                                document.getElementById("commentContent").remove();
                            });
                        </script>
                        <div class="comment-menu">
                            <span class="glyphicon glyphicon-thumbs-up like-count"></span>
                            <span class="like-count">
                                <span class="glyphicon glyphicon-comment" th:data-id="${questionComment.id}" onclick="collapseComments(this)"></span>
                                <span th:text="${questionComment.commentCount}"></span>
                            </span>
                            <span class="glyphicon glyphicon-trash like-count" th:id="${questionComment.id}" th:if="${session.user != null && session.user.id == questionComment.getCommentator()}" onclick="deleteQuestionComment(this)"></span>
                            <span class="pull-right" th:text="${#dates.format(questionComment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                        <!--    二级评论    -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse comment-comment" th:id="${'comment-'+questionComment.id}">
                            <div th:each="commentComment : ${questionComment.commentCommentList}">
                                <div class="media">
                                    <div class="media-left">
                                        <img class="user-avatar" th:src="${commentComment.creatorAvatarUrl}">
                                    </div>
                                    <div class="media-body">
                                        <a :href="'#/message/' + commentComment.id" th:text="${commentComment.creatorName}"></a>
                                        <div class="media-heading comment-body" th:id="${'comment-view-' + commentComment.id}" th:text="${commentComment.content}"></div>
                                        <div class="comment-menu">
                                            <span class="pull-right" th:text="${#dates.format(commentComment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="hidden" id="comment_id" th:value="${questionComment.id}">
                                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="评论一下....." id="comment_comment">
                                <button type="button" class="btn btn-success pull-right sub-comment-btn" onclick="comment_comment()">评论</button>
                            </div>
                        </div>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
            <!--      回复输入框    -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <h4>提交回复</h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media-left">
                    <img class="user-avatar img-rounded" th:src="${session.user != null ? session.user.avatarUrl : '/images/defaultAvatar.png'}">
                </div>
                <div class="media-body">
                    <h6 class="media-heading">
                        <a th:href="${session.user != null ? '/message/'+session.user.id : '/' }" th:text="${session.user != null ? session.user.name : '匿名大佬'}"></a>
                    </h6>
                </div>
                <div class="form-group" id="comment-editor">
                    <input type="hidden" id="question-id" th:value="${question.id}">
                    <textarea name="description" id="question-comment" style="display: none;" class="form-control" rows="9"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("comment-editor", {
                            width  : "100%",
                            height : 400,
                            path   : "/js/lib/",
                            delay : 0,
                            watch : false,
                            placeholder : "请输入评论内容",
                            autoFocus : false,
                            imageUpload    : true,
                            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL : "/file/upload",
                        });
                    });
                </script>
                <button type="button" class="btn btn-success btn-comment" onclick="question_comment()">回复</button>
            </div>
        </div>
        <!--    作者信息展示      -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="question-title" th:if="${state} == 'notMine'">发起人</h4>
                <h4 class="question-title" th:if="${state} == 'mine'">我的信息</h4>
                <div class="media-left">
                    <img class="user-avatar img-rounded" th:src="${question.creatorAvatarUrl}">
                </div>
                <div class="media-body">
                    <h6 class="media-heading">
                        <a th:href="'/message/'+${question.creator}" th:text="${question.creatorName}"></a>
                    </h6>
                </div>
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>最帅那个人的微信</h4>
                <img class="img-thumbnail wechat" src="/images/weChat.jpg">
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--    相关问题展示    -->
                <h4>相关问题</h4>
                <div class="media" th:each="dependentQuestionTitle : ${question.dependentQuestionTitleList} ">
                    <a th:href="@{'/question/'+${dependentQuestionTitle.id}}" th:text="${dependentQuestionTitle.title}"></a>
                </div>
                .........
                <h5><a th:href="@{'/question/tag/'+${question.tag}}">更多相关问题</a></h5>
                <hr>
            </div>
            <!--    如果用户为此问题作者  -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 th:text="${state} == 'mine' ? '我的其他问题' : '本作者其他问题'"></h4>
                <div class="media" th:each="thisCreatorQuestionTittle : ${question.thisCreatorQuestionTitleList} ">
                    <a th:href="@{'/question/'+${thisCreatorQuestionTittle.id}}" th:text="${thisCreatorQuestionTittle.title}"></a>
                </div>
                .........
                <h5><a th:href="@{/profile/questions}">我所有的问题</a></h5>
            </div>
            <hr>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>